h1, h2, h3 {
    margin:0;
    padding:0;
}
body {
    background:#4ae;
    color:#000040;
}
h1,h2, #stopka {
    background: #000040;
    color: #8080ff;
    text-align:center;
}
#tresc {
    background:#80ffff;
    float:left;
    width:75%;
    padding:1%;
}
#zdjecia{
    padding: 12px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#zdjecia a{
    margin: 7px;
    padding: 5px;
}

#kontener{
    background: white;
}

#pasek {
    float:right;
    width:20%;
    padding:1%;
}

*.box { background:#0000a0;
    color:#dbffff;
    padding:5px;
    margin:5px;
    font-size:90%;}

*.box a{color:#ffffb0}

#menu {
    float:left;
    width:100%;
    margin:0;
    padding:0;
    background:#ffffff;
    border-bottom:2px solid #0000a0;
}


#stopka{
    clear:both;
    width:100%;
    padding:5px 0 5px 0;
    text-align:center;
}

#nav {
    text-align: left;
    overflow: hidden;
    font-family: calibri, tahoma;
}
ul#nav li {
    border: 1px solid #d5d5d5;
    list-style-type: none;
    float: left;
    background: #98bed8;
    margin-left: 3px;
}
ul#nav li:hover {
    border: 1px solid #d5d5d5;
    list-style-type: none;
    float: left;
    background: #f0f0f0;
    margin-left: 3px;
}
ul#nav li a {
    display : block;
    padding : 4pt;
    text-decoration : none;
}
ul#nav li li a {
    width: 160px;
}
ul#nav li li:hover {
    background: white;
}
ul#nav li ul {
    overflow: hidden;
    display: none;
}
ul#nav li:hover ul {
    position: absolute;
    background: #aaa;
    padding: 0;
    display: block;
    width: 177px;
}